*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    
     background-color:#9F7E78;
    font-family:'opensans-regular',sans-serif;
}
li{
    list-style:none;
    padding-left:30px;
}
a{
    text-decoration:none;
    line-height:4.3rem;
    font-size:1.5rem;
}

.menu{
    height:80vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-links-container li:hover{
     background-color: rgb(167, 167, 216); 
    background-color:#fff;
}

.social-container{
    display:flex;
    justify-content: center;
}
.social{
    display:inline;
}

.sideBar-container{
    top:0;
    left:0;
    position:fixed;    
    background-color:wheat;
    width:30vw;
    height:100vh;
    transform: translateX(-100%);
    transition: transform 0.3s linear;
}

.sideBar-container2{
    transform: translateX(0%);  
}

.logo{
    margin:20px 30px;
    position:relative;
}

.burger-container{
    position:relative;
}

.burger{
    position:absolute;
    top:1.5vh;
    right:2vw;
    cursor:pointer;
    animation: bounce 1s linear infinite;    
}

.burger-div{
    width:23px;
    height:3px;
    margin:4px;
    background-color: white;
}

.close-burger{
    position:absolute;
    top:1vh;
    right:-1vw;  
    cursor:pointer;
    -webkit-transition: -webkit-transform .25s ease-in-out;
          transition:         transform .25s ease-in-out;
}
.close-burger:hover{
    -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.close-burger-div1{
    width:23px;
    height:3px;
    background-color: #302929;
    transform:rotate(45deg) ;
}
.close-burger-div2{
    width:23px;
    height:3px;
   background-color: #302929;
   transform:rotate(-45deg) translate(2px, -3px);
}

@media screen and (max-width:992px){
    .sideBar-container{
        position:absolute;
        background-color:white;
        width:50vw;
        height:100vh;
    }
    .close-burger{
        position:absolute;
        top:0.8vh;
        right:-2.2vw;  
    }
    .burger{
        position:absolute;
        top:1.5vh;
        right:2vw;
        animation: bounce 1s ease-in-out infinite;    
    }
}

@media screen and (max-width:600px){
    .sideBar-container{
        position:absolute;
        background-color:white;
        width:100vw;
        height:100vh;
    }
    .close-burger{
        position:absolute;
        top:1.2vh;
        right:-2.4vw;  
    }
    .burger{
        position:absolute;
        top:1.5vh;
        right:3vw;   
    }
}

@keyframes bounce{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }

}

